.video-player-container {
  position: relative;
  width: 100%;
  max-width: 500px;
  height: 70%;
  overflow: hidden;
}

.video-player {
  width: 100%;
  border-radius: 10px;
}

.controls {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 100%;
  padding: 1rem 0;
}

.progress-bar {
  flex: 1;
  height: 8px;
  background: var(--white-50);
  cursor: pointer;
  position: relative;
  border-radius: 100px;
}

.progress-handle {
  position: absolute;
  right: -6px;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 14px;
  height: 14px;
  background: var(--white);
  border-radius: 50%;
  pointer-events: none;
  z-index: 2;
  transition: left 0.1s linear;
}

.progress-filled {
  height: 100%;
  background: var(--white);
  width: 0%;
  border-radius: 100px;
  transition: width 0.1s linear;
}

.cropper {
  position: absolute;
  border: 2px solid var(--white);
  box-sizing: border-box;
  cursor: move;
  transition:
    width 0.3s ease,
    height 0.3s ease,
    left 0.3s ease;
}

.resize-handle {
  position: absolute;
  width: 25px;
  height: 25px;
  /* background: ; */
  bottom: 0;
  right: 0;
  cursor: se-resize;
}

.preview-container {
  position: relative;
  overflow: hidden;
  border: 2px solid var(--border-gray);
  border-radius: 10px;
}

.preview-player {
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
}

.outer-container {
  display: flex;
  gap: 20px;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 1rem;
  width: 80%;
}

.grid-lines {
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: none; /* Allows clicks to pass through to cropper */
}

.grid-line {
  position: absolute;
  background-color: transparent;
  border: 1px dashed var(--white-50-alt);
}

.grid-line.vertical {
  width: 0;
  height: 100%;
}

.grid-line.horizontal {
  width: 100%;
  height: 0;
}

/* Optional: Add hover effect to make grid more visible when interacting */
.cropper:hover .grid-line {
  background-color: var(--white-80);
}

.preview-container-wrapper {
  bottom: 30px;
}
.preview-container-wrapper > h2 {
  color: var(--white-50);
  font-size: 14px;
  padding: 0.9rem;
}
